*{
    user-select: none;
    font-family: 'Pretendard';
}
.container {
    background: #F5F5F5;
}
::-webkit-scrollbar {
    width: 5px;
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 5px;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.title {
    color: #121212;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: x-large;
    margin-bottom: 15px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(245,245,245,0.7);
    backdrop-filter: blur(4px);
}
    
#category-list {
    margin-top: 70px;
    padding: 0;
}
.category-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease-in;
}
.category-item input {
    padding: 8px;
    height: 15px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F5F5F5;
    transition: border-color 0.3s;
}
.category-item input:focus {
    background-color: #FFFFFF;
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* 초록색 외곽선 */
}
.category-item button {
    user-select: none;
    padding: 0;
    height: 28px;
    width: 28px;
    margin-left: 10px;
    background-color: #F5F5F5;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.category-item button:hover {
    background-color: #ffcccc;
}

#add-category-button {
    user-select: none;
    padding: 0;
    height: 28px;
    width: 28px;
    margin-left: 10px;
    background-color: #F5F5F5;
    border: 1px solid green;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
#add-category-button:hover {
    background-color: #ccf2e1;
}

.button-img {
    width: 22px;
    height: 22px;
    pointer-events: none;
}

#description {
    margin-bottom: 10px;
    color: #121212;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: small;
}

#save-button {
    position: absolute;
    right: 0;
    margin: 20px;
    user-select: none;
    padding: 0;
    height: 40px;
    width: 70px;
    background-color: #007bff;
    color: #F5F5F5;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
#save-button:hover {
    background-color: #0056b3;
}

#new-category {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease-in;
}
#new-category-name {
    padding: 8px;
    height: 15px;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #F5F5F5;
    transition: border-color 0.3s;
}
#new-category-name:focus {
    background-color: #FFFFFF;
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* 초록색 외곽선 */
}
#new-category-name.error {
    border-color: red;
    box-shadow: 0 0 5px red;
}