*{
    font-family: 'NanumBarunGothic';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px;
    user-select: none;
    -webkit-box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 550px;
    overflow: hidden;
    background: #BDBDBD;
}
li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 35px;
    line-height: 35px;
    list-style: none;
    text-align: center;
    width: 140px;
    border-radius: 5px;
    font-weight: 400;
    font-size: small;
    transition: all 0.2s ease-out;
}
li:hover {
    background-color: #9E9E9E;
}
li.active {
    background: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

a.tab {
    display: block;
    text-decoration: none;
    color: #121212;
}

#tab_content {
    float: right;
    width: 400px;
    background: #BDBDBD;
    height: 400px;
    overflow: hidden;
}
#tab_content .content {
    padding: 15px;
    height: 400px;
    background: #F5F5F5;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #BDBDBD;
    color: #121212;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    user-select: none;
}

.login-info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 100px;
    color: #121212;
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    position: absolute;
    bottom: 0;
}

.logout-btn {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background: #BE2E22;
    color: #faf7ff;
    transition: all 0.2s ease-out;
    cursor: pointer;
    font-family: 'NanumBarunGothic';
    font-weight: 700;
    font-size: 12px;
}
.logout-btn:hover {
    background: #F05650;
}

#label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background: #E0E0E0;
    transition: all 0.2s ease-out;
}
#label:hover{
    background: #EEEEEE;
}

#toggle:checked + #label #arrow {
    transform: rotate(180deg);
}

/* 드롭다운 메뉴 스타일 */
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* 기본적으로 숨김 */
    width: 140px;
    height: 45px;
    background-color: #F5F5F5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.2s ease-out;
    user-select: none;
}

/* 체크박스가 선택된 경우 드롭다운 메뉴 보이기 */
#toggle:checked ~ #menu {
    opacity: 1;
}

/* 메뉴 항목 스타일 */
.menu-item {
    text-align: center;
}

#user-icon {
    width: 25px;
    height: 25px;
    margin-left: 8px;
}
#user-name {
    width: 80px;
    height: 25px;
    line-height: 25px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #121212;
    font-family: 'NanumBarunGothic';
    font-weight: 500;
    font-size: 13px;
}

#arrow {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    transition: transform 0.3s ease-out;
}

iframe {
    height: 100%;
    width: 100%;
}