*{
    max-width: 350px;
    overflow: hidden;
}

.google-login-container {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid darkgray;
}

.google-login-btn {
    padding: 0px;
    border: 0px;
    cursor: pointer;
}