.title {
    color: #121212;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: x-large;
    padding-left: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-bottom: #121212 solid 1px;
    display: flex;
    align-items: center;
    justify-content: start;
    top: 0;
    left: 0;
    position: fixed;
    width: 85%;
    height: 60px;
}

.container {
    margin-top: 75px;
    margin-left: 10px;
}

#autoSave {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
}

#autoSaveLabel {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 체크박스 상태에 따라 색상 변화 */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 1px solid #7f8c8d;
    border-radius: 4px;
    background-color: #fefbee;
    appearance: none;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  input[type="checkbox"]:checked {
    background-color: #2ecc71;
    border-color: #2ecc71;
  }
  
  input[type="checkbox"]:checked::before {
    content: '✔';
    position: absolute;
    left: 2px;
    top: -2px;  /* 위치 조정 */
    font-size: 15px; /* 크기 조정 */
    color: white;
    z-index: 10; /* z-index 추가 */
  }